![Astrofisica Computacional](../logo.PNG)

---
## 02. A Perceptron with a ReLU Activation Function


Eduard Larra√±aga (ealarranaga@unal.edu.co)

---

### Abstract

In this notebook we will improve the perceptron algorithm developed in a previous lecture by incorporating an ReLU activation function.

---

## A Simple Model of Radiative Transport

In [15]:
import numpy as np
import pandas as pd

A simple model

\begin{equation}
I(s) = I_0 e^{-\kappa s}
\end{equation}

where $I_0$ and $\kappa$ are constants.

\begin{align}
\log I(s) = & \log \left( I_0 e^{-\kappa s}\right)\\
\log I(s) = & \log  I_0 + \log \left(e^{-\kappa s}\right)\\
\log I(s) = & \log  I_0 - \kappa s
\end{align}

In [18]:
def logI(I0,s):
    k = 25
    return np.log(I0) - k*s

logI(100,1)

-20.394829814011906

In [27]:
np.random.seed(413)
i0i0 = np.random.rand(55)*(100) + 0.1
ss = np.random.rand(55)*25

ii = logI(i0i0,ss)

df = pd.DataFrame(ss, columns=['s'])
df['log I_0'] = i0i0
df['log I'] = ii
df.to_csv('data.csv')
df

            s    log I_0       log I
0   15.552222  65.778455 -384.619260
1   11.283858  38.604190 -278.443093
2   12.202521   7.894658 -302.996843
3    1.178296  58.689957  -25.385121
4   20.147983  48.674423 -499.814419
5   24.204414  75.828673 -600.781869
6   21.506553  64.947600 -533.490245
7    3.676030  95.216331  -87.344597
8    5.889885  35.947767 -143.665051
9    8.366432   5.150476 -207.521702
10   7.113997  32.752580 -174.360939
11  18.473762  42.295381 -458.099378
12  11.235941  58.386575 -276.831440
13   9.908153  58.299990 -243.638225
14  16.634919  60.633471 -411.768117
15   7.740171  84.744615 -189.064637
16  17.954538   4.243034 -447.418170
17  12.386142  75.421485 -305.330448
18  13.907518  77.064084 -343.343311
19  21.814725   4.646086 -543.832105
20  15.505832  49.363128 -383.746604
21  14.937535  65.420651 -369.257544
22  19.035157  21.597835 -472.806338
23  11.596941  28.001761 -286.591264
24  21.116670  69.970748 -523.668674
25   1.816936  22.909692  -42.291840
26   1.407995  21.504413  -32.131615
27  17.033100  81.214344 -421.430399
28  15.066711  56.738518 -372.629319
29  22.650712  98.047866 -561.682336
30   4.519848  79.416242 -108.621491
31   0.557096  46.591530  -10.085991
32   2.693143  46.205571  -63.495481
33  24.659328  59.074767 -612.404390
34   2.926957  79.486802  -68.798329
35  22.977494  12.164898 -571.938788
36  12.690032  31.372697 -313.804865
37  19.620982   8.703069 -488.360881
38  17.129348  83.190437 -423.812564
39  19.854208  45.925029 -492.528191
40  17.256990  94.742504 -426.873587
41   4.580558   0.895044 -114.624830
42  10.317135  11.491559 -255.486764
43   4.737892  52.662121 -114.483391
44  17.029027  44.410274 -421.932216
45  15.308598   8.683047 -380.553575
46   1.116179   9.984887  -25.603395
47   3.329868  73.376662  -78.951102
48  16.306687  68.986579 -403.433267
49   3.886593  27.147607  -93.863538
50   8.787152  80.748506 -215.287473
51  22.685248  18.158098 -564.232078
52   6.485494   2.997600 -161.039547
53  12.935366  81.851246 -318.979249
54   4.981438  53.348373 -120.559115

In [28]:
def phi(x,y):
    w1 = -24
    w2 = 64
    b = 14
    return w1*x + w2*y + b

phi(10,25)

1374

In [33]:
np.random.seed(413)
xx = np.random.rand(171)*(150)-25
yy = np.random.rand(171)*50

pp = phi(xx,yy)

df = pd.DataFrame(xx, columns=['x'])
df['y'] = yy
df['phi'] = pp
df.to_csv('data01.csv')
df

             x          y          phi
0    73.517682  44.800793  1116.826387
1    32.756284  28.724427  1066.212487
2   -13.308013   2.458485   490.735354
3    62.884936   5.696075 -1130.689639
4    47.861635  29.955114   782.448037
..         ...        ...          ...
166  84.174447   7.278451 -1540.365854
167 -23.119203   9.013067  1145.697153
168  -5.747350  18.067861  1308.279480
169  16.419795  12.980806   450.696513
170  46.245703  36.231065  1222.891304

[171 rows x 3 columns]

In [37]:
def psi(x):
    w1 = 2
    w2 = -18
    b = -21
    return w1*x**2 + w2*x + b

psi(10)

-1

In [39]:
np.random.seed(413)
xx = np.random.rand(200)*(150)-50

pp = psi(xx)

df = pd.DataFrame(xx, columns=['x'])
df['psi'] = pp
df.to_csv('data02.csv')
df

             x          psi
0    48.517682  3813.612730
1     7.756284   -40.293225
2   -38.308013  3603.551985
3    37.884936  2167.607856
4    22.861635   612.799280
..         ...          ...
195  70.160036  8560.980559
196 -20.880126  1226.801640
197  69.542900  8399.657767
198 -34.494058  2979.573084
199  26.131566   874.349294

[200 rows x 2 columns]